:root {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --max-width: 700px;
}
body {
    background-color: white;
    margin: 0;
    font-family: "Kanit", sans-serif;
    height: 100vh;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.logo-section {
    background: no-repeat url('//unsplash.it/800/1000');
    height: 100vh;
    position: relative;
    overflow: hidden;
}
img {
    z-index: -1;
}
h1 {
    position: absolute;
    font-size: 4rem;
    letter-spacing: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    left: 0;
    right: 0;
    margin-top: 10rem;
    padding: 1rem 0;
    text-align: center;
}
h3 {
    max-width: var(--max-width);
    font-size: 1.4rem;
}
.form-section {
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 0 3rem;
    background-color: #eee;
}
.form-section,
.inputs {
    display: flex;
    flex-direction: column;
}
.form-wrapper {
    background-color: white;
    width: calc(100% + 6rem);
    transform: translateX(-3rem);
    box-shadow: 0px 5px 10px #00000060;
    margin: 1.5rem 0;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 3rem;
    max-width: var(--max-width);
}
.inputs {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 0 1rem 1rem 0;
}
input {
    padding: 0.3rem 0;
    border-radius: 4px;
}
input:invalid {
    border-color: rgb(170, 0, 0);
}
input:valid {
    border-color: rgb(0, 170, 0);
}
label {
    font-size: 0.9rem;
}
h4 {
    grid-column: span 2;
    font-size: 1.4rem;
    opacity: 0.7;
    margin-bottom: 1.75rem;
    margin-top: 0;
}
.already-signed-up span {
    color: rgb(45, 80, 45);
    cursor: pointer;
}
button {
    background-color: rgb(45, 80, 45);
    color: white;
    border: 0;
    padding: 1em 2em;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 0.5rem;
}
button:hover {
    transform: scale(1.05);
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.4);
}